.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  gap: 45px;

  .name {
    margin-right: auto;
  }

  a {
    display: block;
  }

  svg {
    cursor: pointer;
  }
}
