@import './variables';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', Roboto, system-ui, sans-serif;
  background-color: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);
  max-width: 1135px;
  min-height: 100vh;
  margin: 0px auto;

  border-radius: 10px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
  }
}

h1 {
  color: $black-icon;
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.home {
  margin-bottom: 20px;
  &-title {
    margin-top: 28px;
    margin-bottom: 20px;

    color: $dark-gray;
  }

  &-items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 830px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cart {
  &-title {
    margin-top: 30px;
    margin-bottom: 13px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }

  .total {
    display: flex;
    flex-direction: column;
    height: 114px;
    width: 348px;
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 30px;

    &-price {
      display: flex;
      justify-content: space-between;
      padding: 22px;
    }

    span {
      font-weight: 600;
      font-size: 15px;
    }

    button {
      padding: 22px;
      background-color: $black-icon;
      color: $white;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 17px;
      border: none;
      border-radius: 20px;
      box-shadow: $button-shadow;
      cursor: pointer;

      &:hover {
        background-color: $orange;
      }
    }
  }
}
